@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  background-color: rgb(20, 20, 20);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}
body main .background-container {
  position: relative;
  overflow: hidden;
  padding: 0;
}
body main .background-container .background {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media only screen and (min-width: 500px) {
  body body {
    margin: 0;
    color: white;
    min-height: 100%;
  }
  body main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body header {
    position: absolute;
    width: 98vw;
    margin: 2em 2em 0px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: "Montserrat", sans-serif;
    z-index: 3;
  }
  body header .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body header .header nav {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  body header .header .hamburger {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  body header .header .logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  body header .logo {
    margin-left: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body header .logo .title-1 {
    font-size: clamp(0.5rem, 0.275rem + 2.3333vw, 1.5rem);
    margin-left: 0.5em;
  }
  body header .logo a {
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 0.8em;
  }
  body header .logo img {
    margin-right: 1em;
  }
  body header nav {
    margin-right: 2em;
    font-size: 1em;
    font-weight: 500;
  }
  body header nav .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body header nav .menu li {
    list-style-type: none;
    margin-left: 3em;
    z-index: 2;
  }
  body header nav .menu li a {
    color: white;
    text-decoration: none;
  }
  body header nav .menu li a:hover {
    color: #19adb2;
    text-shadow: 1px 1px 3px #073233;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
  body .header {
    max-width: 1600px;
    width: 1200px;
  }
  body .banner-wrap {
    overflow: hidden;
  }
  body .banner {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
    margin-top: -10%;
    margin-bottom: -10%;
    -webkit-box-shadow: 0px 1px 5px 1px black;
            box-shadow: 0px 1px 5px 1px black;
    overflow: hidden;
  }
  body .banner .calltoaction {
    z-index: 1;
    position: absolute;
    top: 5vh;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-shadow: 1px 1px 1px black;
    font-weight: 500;
  }
  body .banner .calltoaction h1 {
    font-size: clamp(1rem, 0.2105rem + 3.5088vw, 3.5rem);
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
  }
  body .banner .calltoaction h2 {
    font-size: clamp(0.3rem, -0.2143rem + 2.2857vw, 1.5rem);
  }
  body .banner .calltoaction .line {
    height: 2px;
    background-color: #DAD674;
    width: 10%;
  }
  body .banner #video {
    z-index: -2;
    width: 100%;
    overflow: hidden;
  }
  body .line {
    height: 2px;
    background-color: #DAD674;
    width: 10%;
  }
  body .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: black;
    width: 100%;
    padding-top: 4em;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  body .content ._content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .content ._content .section-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .content ._content .section-header .title-2 {
    font-size: clamp(2rem, 0.2105rem + 3.5088vw, 3.5rem);
  }
  body .content ._content .section-header .line {
    width: 7em;
    height: 0.25em;
  }
  body .content ._content .paragraphs {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2em;
    font-size: 1.2rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 90vw;
    overflow-wrap: break-word;
  }
  body .content ._content .paragraphs .p1 {
    margin-top: 2em;
    margin-bottom: 5em;
  }
  body .content ._content h1 {
    color: #19adb2;
    font-family: "Montserrat", sans-serif;
  }
  body .content-2 {
    background-color: rgb(20, 20, 20);
    padding-bottom: 3em;
  }
  body .content-2 h2 {
    color: #19adb2;
    font-family: "Montserrat", sans-serif;
  }
  body .content-2 ._content {
    padding-bottom: 3em;
  }
  body .content-2 .paragraph-colomn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 2em;
    width: 50%;
  }
  body .content-2 .paragraph-colomn p {
    text-align: left;
  }
  body .content-2 p {
    color: white;
  }
  body footer {
    background-color: rgb(20, 20, 20);
    text-align: center;
    -ms-flex-item-align: end;
        align-self: flex-end;
    bottom: 0;
    height: 5rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    list-style-type: none;
  }
  body footer ul li {
    margin: 0 1em;
  }
}
@media only screen and (max-width: 500px) {
  body footer {
    margin: 0;
    padding: 0;
    background-color: rgb(20, 20, 20);
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: "Montserrat", sans-serif;
  }
  body footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 0;
  }
  body footer ul li {
    text-align: center;
    font-size: 0.8em;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
  }
  body footer ul li span {
    font-size: 0.8em;
  }
  body footer ul .place {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  body footer ul .line1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  body footer ul .email {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  body footer ul .line2 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  body footer ul .phone {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
}