main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    width: 100%;
    background-color: #000000;
    background: url("assets/rockCityBanner2.png") repeat;
    background-image: url("../Rock City Recording/src/assets/rockCityBanner2.png");
    z-index: 0;
}

main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6); /* Adjust the opacity as needed */
    z-index: -1; /* Ensure the overlay is behind the content */
}


.book-title-container {
    width: 100%;
}

.book-title {
    color: white;
    font-size: 4em;
    text-align: center;
    text-shadow: 2px 2px 5px #000000;
}

.book-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border: 2px solid red;
}

.calendly-inline-widget {
    width: 100%;
    height: 100%;
    min-height: 80vh;
}

.logo {
    // position: absolute;
    // border: 2px solid red;
    // top: -20vh;
    // left: 0;
    scale: .5;
    margin: 0;
    padding: 0;
    justify-content: start;
    align-items: start;
    transform: translateY(-16vh);
}

@media only screen and (min-width: 849px){
    .logo {
        // transform: translateY(-20vh);
        scale: 1;
        margin: 0;
        padding: 0;
    }

    .calendly-inline-widget {
        margin-top: 2em;
    }
}