footer{
        background-color: rgb(20, 20, 20);
        text-align: center;
        align-self: flex-end;
        bottom: 0;
        height: 10vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        // border: 2px solid green;
        
        
        ul{
            display: flex;
            flex-direction: row;
            align-items: space-evenly;
            justify-content: center;
            list-style-type: none;
            border: 2px solid red;
            // height: 100%;
            li{
                // width: 30%;
            }
        }
    }