@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
.book-now {
  position: absolute;
  top: 50vh;
  left: 30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
}
.book-now h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  line-height: 0.9;
  letter-spacing: -1px;
  font-size: 4em;
}
.book-now .subtitle {
  font-family: "Roboto Condensed", sans-serif;
  max-width: 200px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -1px;
  font-size: 1.5em;
}
.book-now .book-now-button {
  background-color: #19adb2;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  padding: 0.5em 2em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.book-now .book-now-button:hover {
  background-color: #DAD674;
  color: black;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.book-now .book-now-button svg {
  text-align: center;
  vertical-align: middle;
}

main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(20, 20, 20);
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  background-color: rgb(20, 20, 20);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .background-container {
  position: absolute;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background-color: black;
  background: url("assets/rockCityBanner2.png") repeat;
  background-image: url("../Rock City Recording/src/assets/rockCityBanner2.png");
  padding: 0;
  width: 100%;
  max-height: 100vh;
}
body .background-container .background {
  width: 100%;
  max-width: 1200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media only screen and (min-width: 500px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
    height: 100vh;
    min-height: 100vh;
  }
  body {
    margin: 0;
    color: white;
    min-height: 100%;
    width: 100vw;
  }
  footer {
    background-color: black;
    text-align: center;
    -ms-flex-item-align: end;
        align-self: flex-end;
    bottom: 0;
    height: 5rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    list-style-type: none;
  }
  footer ul li {
    margin: 0 1em;
  }
}
@media only screen and (max-width: 500px) {
  .book-now {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    left: 0;
    top: 10%;
  }
  .background-container {
    position: absolute;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    background-color: black;
    background: url("assets/rockCityBanner2.png") repeat;
    background-image: url("../Rock City Recording/src/assets/rockCityBanner2.png");
    padding: 0;
    width: 100%;
    max-height: 100vh;
  }
  .background-container .background {
    width: 100%;
    height: 80vh;
    max-width: 1200px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  main {
    background-color: rgb(20, 20, 20);
    height: 80vh;
    min-height: 80vh;
  }
  body {
    background-color: rgb(20, 20, 20);
  }
  footer {
    margin: 0;
    padding: 0;
    background-color: rgb(20, 20, 20);
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: "Montserrat", sans-serif;
  }
  footer div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    font-size: 0.8em;
  }
  footer #current-year {
    margin-right: 5px;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 0;
  }
  footer ul li {
    text-align: center;
    font-size: 0.8em;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
  }
  footer ul li span {
    font-size: 0.8em;
  }
  footer ul .place {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  footer ul .line1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  footer ul .email {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  footer ul .line2 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  footer ul .phone {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
}