main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 90vh;
  width: 100%;
  background-color: #000000;
  background: url("https://res.cloudinary.com/f93azfwg/image/upload/v1785967977/rockCityBanner2_vtvm7c.png") repeat;
}

.rate-title-container {
  width: 100%;
}

.rate-title {
  color: white;
  font-size: 4em;
  text-align: center;
  text-shadow: 2px 2px 5px #000000;
}

.rates-and-packages-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.rate-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90vw;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  color: white;
  font-size: 1em;
  text-align: center;
}